@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
    position:relative;
    animation: fade-in 200ms ease-out forwards; 
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
}

img {
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px rgba(3, 45, 99, 0.404);
}

p {
    font-weight: bold;
    font-size: 1.75rem;
    text-align: center;
    color: rgb(32, 32, 32);
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

input, button {
    width: 18rem;
    font-size: 1rem;
    padding: 0.625rem 0.75rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

input {
    border: 1px solid gray;
}

button {
    position: relative;
    border: 1px solid rgba(44, 44, 44, 0.233);
    margin-top: 1rem;
    background-color: #0456a8;
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 1px 1px 10px #0118227a;
    cursor: pointer;
    transition: transform 100ms linear, background-color 100ms linear;
}

button:focus:not(:disabled) {
    outline: 2px solid rgb(43, 41, 41);
}

button:hover:not(:disabled) {
    background-color: #034281;
}

button:active:not(:disabled) {
    transform: scale(0.9);
}

button:disabled {
    opacity: 0.8;
}


/* HTML: <div class="loader"></div> */
.loader {
    width: 0.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid;
    border-color: whitesmoke #0000;
    animation: l1 1s infinite;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
  }
  @keyframes l1 {to{transform: rotate(.5turn)}
}

#message {
    font-size: 1rem;
    margin-top: 1rem;
    width: 18rem;
    text-align: center;
}

#message.success {
    color: green;
}

#message.error {
    color: rgb(172, 17, 17);
}
